In [1]:
# import pandas as pd
# from pprint import pprint

# path = "https://drive.google.com/file/d/12tJRn8lJVzdckNj3xI3Hmn5Aao0-jQkm/view?usp=sharing"
# url = 'https://drive.google.com/uc?export=download&id='+path.split('/')[-2]
# data = pd.read_csv(url, chunksize=100000)
# df = pd.concat(data)

In [12]:
import pandas as pd
from pprint import pprint

data = pd.read_csv('test')
data.head()

,Unnamed: 0,severity,date,description,city,county,state,weather_condition,sunrise_sunset
0,1205405,Light impact,2019-01-18,At Antelope Rd - Accident.,Eagle Point,Jackson,OR,Overcast,Day
1,1233924,Medium impact,2018-10-31,At CA-173/Village Rd - Accident. Lane blocked.,Lake Arrowhead,San Bernardino,CA,Clear,Day
2,1221726,Medium impact,2018-12-12,At Quebec St/Exit 278 - Accident.,Denver,Denver,CO,Mostly Cloudy,Day
3,1494458,Light impact,2019-07-09,Between RT-3/Exit 153 and Watchung Ave/Exit 15...,Clifton,Passaic,NJ,Fair,Day
4,1381349,Medium impact,2017-12-03,At 3300 S - Accident. Incident.,Salt Lake City,Salt Lake,UT,Mostly Cloudy,Night

In [34]:
data_accidents_year = data.groupby('weather_condition')['weather_condition'].count()

data_accidents_year

weather_condition
Blowing Dust               22
Blowing Dust / Windy       34
Blowing Snow               45
Blowing Snow / Windy       20
Clear                   59673
                        ...
Unknown                 14464
Volcanic Ash                1
Widespread Dust             9
Wintry Mix                410
Wintry Mix / Windy         13
Name: weather_condition, Length: 101, dtype: int64