In [1]:
# import pandas as pd
# from pprint import pprint

# path = "https://drive.google.com/file/d/12tJRn8lJVzdckNj3xI3Hmn5Aao0-jQkm/view?usp=sharing"
# url = 'https://drive.google.com/uc?export=download&id='+path.split('/')[-2]
# data = pd.read_csv(url, chunksize=100000)
# df = pd.concat(data)

In [2]:
import pandas as pd
from pprint import pprint

data = pd.read_csv('US_Accidents_Dec20_updated.csv', chunksize=100000)
df = pd.concat(data)

In [3]:
df.head()

,severity,date,description,city,county,state,weather_condition,sunrise_sunset
0,Medium impact,2016-02-08,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,Dublin,Franklin,OH,Light Rain,Night
1,Light impact,2016-02-08,At OH-4/OH-235/Exit 41 - Accident.,Dayton,Montgomery,OH,Light Rain,Night
2,Light impact,2016-02-08,At I-71/US-50/Exit 1 - Accident.,Cincinnati,Hamilton,OH,Overcast,Night
3,Light impact,2016-02-08,At I-71/US-50/Exit 1 - Accident.,Cincinnati,Hamilton,OH,Overcast,Night
4,Light impact,2016-02-08,At Dart Ave/Exit 21 - Accident.,Akron,Summit,OH,Overcast,Night

In [4]:
df.tail()

,severity,date,description,city,county,state,weather_condition,sunrise_sunset
1516059,Light impact,2019-08-23,At Market St - Accident.,Riverside,Riverside,CA,Fair,Day
1516060,Light impact,2019-08-23,At Camino Del Rio/Mission Center Rd - Accident.,San Diego,San Diego,CA,Fair,Day
1516061,Light impact,2019-08-23,At Glassell St/Grand Ave - Accident. in the ri...,Orange,Orange,CA,Partly Cloudy,Day
1516062,Light impact,2019-08-23,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,Culver City,Los Angeles,CA,Fair,Day
1516063,Light impact,2019-08-23,At Highland Ave/Arden Ave - Accident.,Highland,San Bernardino,CA,Fair,Day